<style>
  body {
    background: #DDD
  }
  canvas {
    display: flex;
    background: #FFF;
    margin: 10px auto;
    box-shadow: 0 5px 15px #AAA;
  }
</style>

<div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//https-formatcom-github-io-devgamejs.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
<canvas id="game" width="800" height="600"></canvas>

<script src="../../devGame.js"></script>

<!-- Logic Game -->
<script src="game.js"></script>

<script id="dsq-count-scr" src="//https-formatcom-github-io-devgamejs.disqus.com/count.js" async></script>
