.content_debug
	.articles
		flex 1 1 28%
		border-right 1px solid border
		color      text
		.header
			border-top 1px solid border
			padding 5px 5px
			font-size 0.9em
		.body
			display flex
			flex-flow row wrap
			border-top 1px solid border
			padding 0px 5px
			font-size 0.8em
			span
				flex 1 1 100%
				padding 5px 0px
	.core
		flex 16 1 auto