#debug
	display none
	border 1px solid border
	.header_debug
		width 100%
		color text
		text-align right
		span
			padding-right 10px
			font-size 0.9em
	.content_debug
		display flex
		flex-flow row wrap
		@media all and (max-width: 640px)
			flex-flow column
			