.content_debug
	text-align center
	.articles
		display inline-block
		width 28%
		background rgba(fondo,.6)
		color text
		text-align left
		.header
			padding 5px 5px
			border 1px solid border
		.body
			padding 5px 5px
			border-left 1px solid border
			border-bottom 1px solid border
			border-right 1px solid border
	.core
		width 16%
			